"*":
  core:
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "monokai-sublime"
    ]
  editor:
    fontFamily: "Meslo LG M"
    fontSize: 16
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "001b0289-fe3c-4b4d-b294-24918cb878d9"
  "linter-ui-default":
    panelHeight: 480
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  welcome:
    showOnStartup: false
