"*":
  core:
    telemetryConsent: "no"
    themes: [
      "glacier-dark-ui"
      "monokai-sublime"
    ]
  editor: {}
  "exception-reporting":
    userId: "001b0289-fe3c-4b4d-b294-24918cb878d9"
  "linter-ui-default":
    showPanel: true
  welcome:
    showOnStartup: false
