[
  {
    title: "Unmortgage"
    paths: [
      "/Users/oisin/src/unmortgage"
    ]
  }
  {
    title: "Remarkable"
    paths: [
      "/Users/oisin/Dropbox (Personal)/src/remarkable"
      "/Users/oisin/src/reMarkable"
    ]
  }
]
